@import url("https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap");
@-webkit-keyframes movetoright {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes movetoright {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes movetoleft {
  0% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes movetoleft {
  0% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes movetotop {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes movetotop {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: aqua;
}

body {
  font-family: "Lato", sans-serif;
  padding: 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  background: #f1f1f1;
}

.heading_primary {
  color: #ffffff;
  margin-bottom: 6rem;
  text-transform: uppercase;
}

.heading_primary-main {
  display: block;
  font-size: 3.3rem;
  letter-spacing: 0.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
  -webkit-animation: movetoright 1s ease-out;
          animation: movetoright 1s ease-out;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.heading_primary-main strong {
  color: #913131;
}

.heading_primary-sub {
  display: block;
  font-size: 1.7rem;
  letter-spacing: 0.4rem;
  font-weight: 400;
  -webkit-animation: movetoleft 1s ease-out;
          animation: movetoleft 1s ease-out;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.heading-secondary {
  display: inline-block;
  font-size: 2.7rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(32%, #4242aa), to(#65e0f9));
  background: linear-gradient(90deg, #020024 0%, #4242aa 32%, #65e0f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.heading-secondary:hover {
  -webkit-transform: skewX(13deg) skewY(2deg) scale(1.1);
          transform: skewX(13deg) skewY(2deg) scale(1.1);
  -webkit-box-shadow: 0.5 1rem 2rem rgba(51, 51, 51, 0.2);
          box-shadow: 0.5 1rem 2rem rgba(51, 51, 51, 0.2);
}

.heading-turtiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
}

.u-text-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-text-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-text-margin-top-big {
  margin-top: 15rem;
}

.u-text-margin-top-revarse {
  margin-top: -10rem;
}

.u-text-center {
  text-align: center;
}

.u-z-index {
  z-index: 150;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[4];
      grid-template-columns: repeat(4, 250px);
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.features-box {
  background: rgba(241, 241, 241, 0.8);
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  -webkit-box-shadow: 0 15rem 4rem rgba(51, 51, 51, 0.15);
          box-shadow: 0 15rem 4rem rgba(51, 51, 51, 0.15);
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.features-box--icon {
  font-size: 6rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(32%, #4242aa), to(#65e0f9));
  background: linear-gradient(90deg, #020024 0%, #4242aa 32%, #65e0f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 15px 40px;
  text-transform: uppercase;
  border-radius: 100px;
  display: inline-block;
  font-size: 1.6rem;
  position: relative;
}

.btn-white {
  background: #ffffff;
  color: #777;
}

.btn-white::after {
  background: #ffffff;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  display: inline-block;
  z-index: -1;
  -webkit-transition: all 650ms;
  transition: all 650ms;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.2);
          box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:focus, .btn:active {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(51, 51, 51, 0.2);
          box-shadow: 0 5px 10px rgba(51, 51, 51, 0.2);
}

.btn-animation {
  -webkit-animation: movetotop 1s ease-out 1s;
          animation: movetotop 1s ease-out 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.row1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[4];
      grid-template-columns: repeat(4, 200px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  margin: auto 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.team {
  padding: 6rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  -webkit-box-shadow: 0 3rem 6rem rgba(51, 51, 51, 0.1);
          box-shadow: 0 3rem 6rem rgba(51, 51, 51, 0.1);
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-box {
  width: 15rem;
  height: 15rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  position: relative;
}

.team-box-img {
  width: 200%;
  -webkit-transform: scale(1.2) translateX(2rem);
          transform: scale(1.2) translateX(2rem);
  background-position: center;
  background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-left: -3.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.team-box-img:not(:last-child) {
  margin-left: -5rem;
}

.team-box-name {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  text-align: center;
  font-size: 1.7rem;
  color: #ffffff;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.team:hover .team-box-name {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.team:hover .team-box-img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: blur(3px) brightness(80%);
          filter: blur(3px) brightness(80%);
}

.header {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#d2fafb9d), to(#96cbccd0)), url(https://images.pexels.com/photos/908284/pexels-photo-908284.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background: linear-gradient(to bottom, #d2fafb9d, #96cbccd0), url(https://images.pexels.com/photos/908284/pexels-photo-908284.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90vh, 0 100%);
  position: relative;
}

.header_logo-box {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.header_logo {
  height: 6rem;
}

.header_text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.navigation-checkbox {
  display: none;
}

.navigation-button {
  width: 7rem;
  height: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  background: #ffffff;
  z-index: 2000;
  cursor: pointer;
  text-align: center;
}

.navigation-background {
  position: fixed;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  background: -webkit-gradient(linear, left top, left bottom, from(#d2fafb9d), to(#96cbccd0));
  background: linear-gradient(#d2fafb9d, #96cbccd0);
  -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation-nav {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
}

.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.navigation-item {
  margin: 1rem;
}

.navigation-link:link, .navigation-link:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #ffffff;
  display: inline-block;
  background: linear-gradient(120deg, transparent 50%, #ffffff 50%);
  background-size: 220%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation-link:link span, .navigation-link:visited span {
  display: inline-block;
  margin-right: 1.5rem;
}

.navigation-link:hover, .navigation-link:active {
  background-position: 100%;
  color: #d2fafb9d;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation-checkbox:checked ~ .navigation-background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation-checkbox:checked ~ .navigation-nav {
  width: 100%;
  opacity: 1;
}

.navigation-icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation-icon, .navigation-icon::after, .navigation-icon::before {
  width: 3rem;
  height: 2px;
  background: #333;
  display: inline-block;
}

.navigation-icon::after, .navigation-icon::before {
  content: "";
  left: 0;
  position: absolute;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navigation-icon::after {
  top: 0.8rem;
}

.navigation-icon::before {
  top: -0.8rem;
}

.navigation-button:hover .navigation-icon::after {
  top: 1rem;
}

.navigation-button:hover .navigation-icon::before {
  top: -1rem;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background: transparent;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
}

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 0;
}

.section-features {
  padding: 20rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#d2fafb9d), to(#96cbccd0)), url(https://images.pexels.com/photos/1549702/pexels-photo-1549702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background: linear-gradient(to bottom, #d2fafb9d, #96cbccd0), url(https://images.pexels.com/photos/1549702/pexels-photo-1549702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 10vh, 50% 0, 100% 30vh, 100% 100%, 0 100%);
          clip-path: polygon(0 10vh, 50% 0, 100% 30vh, 100% 100%, 0 100%);
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-team {
  padding: 0 20rem;
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#d2fafb9d), to(#96cbccd0)), url(https://images.pexels.com/photos/1936299/pexels-photo-1936299.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background: linear-gradient(to bottom, #d2fafb9d, #96cbccd0), url(https://images.pexels.com/photos/1936299/pexels-photo-1936299.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
  -webkit-clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
}
/*# sourceMappingURL=main.css.map */