.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, $color-promary, $color-secondary),
    url(../../image/header-p1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90vh, 0 100%);
  position: relative;

  &_logo-box {
    position: absolute;
    left: 2rem;
    top: 2rem;
  }
  &_logo {
    height: 6rem;
  }

  &_text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
