.row {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  margin: 0 auto;
  justify-content: center;
  column-gap: 2rem;
}
.features-box {
  background: rgba($color-gray-light, 0.8rem);
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0 15rem 4rem rgba($color-black, 0.15rem);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;

  &--icon {
    font-size: 6rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(66, 66, 170, 1) 32%,
      rgba(101, 224, 249, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
