@import url("https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap");

body {
  font-family: "Lato", sans-serif;
  padding: 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  background: $color-gray-light;
}
.heading_primary {
  color: $color-text;
  margin-bottom: 6rem;
  text-transform: uppercase;

  &-main {
    display: block;
    font-size: 3.3rem;
    letter-spacing: 0.8rem;
    font-weight: 400;
    margin-bottom: 2rem;
    animation: movetoright 1s ease-out;
    transition: all 0.2s;

    strong {
      color: #913131;
    }
  }
  &-sub {
    display: block;
    font-size: 1.7rem;
    letter-spacing: 0.4rem;
    font-weight: 400;
    animation: movetoleft 1s ease-out;
    transition: all 0.2s;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 2.7rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(66, 66, 170, 1) 32%,
    rgba(101, 224, 249, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s;

  &:hover {
    transform: skewX(13deg) skewY(2deg) scale(1.1);
    box-shadow: 0.5 1rem 2rem rgba($color-black, 0.2rem);
  }
}

.heading-turtiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
}
